.element__like {
  background-image: url(../../../images/element__like.svg);
  background-repeat: no-repeat;
  transition: opacity 0.3s, transform 0.2s linear;
  width: 22px;
  height: 19px;
  border: none;
  background-color: #ffffff;
}
.element__like:hover {
  opacity: 0.5;
}
