.card__trash{
    background-image: url(../../../images/Trash.svg);
    width: 18px;
    height: 19px;
    background-position: center;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    transition: opacity 0.3s, transform 0.2s linear;
}

.card__trash:hover {
    opacity: 0.5;
  }